html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* css text area */
textarea {
    border: none;
    overflow: hidden;
    border-style: none;
    border-color: Transparent;
    outline: none;
    resize: none;
    width: 700px;
    background-color: rgb(19, 19, 19);
    color: aliceblue;
}

textarea:focus {
    border: none;
    box-shadow: none;
}

*:focus {
    outline: 0;
}

/* Position */
section:first-child {
    width: max-content;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}


/* man command */
section {
    display: none;
    width: 700px;
    min-height: 500px;
    height: max-content;
    margin: 0 auto;
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    font: 400 13.3333px Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: monospace;
    padding: 0 5px;
}
h2:first-child{
    margin-top: 0;
}
h2 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
}
p {
    margin-top: 2px;
}

.information{
    background-color: rgb(115, 115, 255);
    color: rgb(255, 255, 111);
    padding: 2px;
    width: max-content;
}